* {
  box-sizing: border-box;
  margin: 0;
  padding:0
}

.container {
  width: 90%;
  margin: 10px auto;
}

.header {
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header p {
  font-size: 2rem;
  margin: 40px auto;
}

.contador {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  @media screen and (max-width: 480px) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.contador h2 {
  margin: 20px 0;
  @media screen and (max-width: 480px) {
    margin: 15px auto;
    text-align: center;
  }
}

.vitrine {
  width: 98%;
  block-size: fit-content;
  display: flex;
  justify-content: start;
  margin: 35px auto;
  align-self: center;
  justify-content: start;
  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    justify-content: start;
  }
}

.produto {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
  aspect-ratio: 2/1;
  @media screen and (max-width: 480px) {
    width: 40%;
    margin: 10px 8px;
  }
  @media screen and (min-width: 769px) and (max-width: 888px) {
    width: 18%;
    margin: 10px 8px;
  }
}

.produtoMaior {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
  aspect-ratio: 2/1;
  @media screen and (max-width: 480px) {
    width: 85%;
    margin: 10px auto;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    width: 29%;
    margin: 10px 8px;
  }
  @media screen and (min-width: 769px) and (max-width: 888px) {
    width: 22%;
    margin: 10px 8px;
  }
}

.hide {
  display: none;
}

.productImg {
  width: 95%;
  aspect-ratio:1/1;
}

.productName {
  text-align: center;
  font-size: 1.1rem;
  width: 100%;
}

.productBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
}

.priceBox {
  width: 100%;
  aspect-ratio: 5/1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.priceBox p {
  margin: 0 auto 10px auto;
  text-align: center;
}

.productListPrice { 
  color: #778;
  text-decoration: line-through;
  margin: 0 auto;
}

.productBestPrice {
  font-weight: 600;
  font-size: 1.4rem;
}

.buyButton {
  color: #778;
  width: 70%;
  padding: 9px;
  border: 1px solid #778;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #999;
  letter-spacing: .5px;
  cursor: pointer;
  align-self: center;
  @media (max-width: 768px) {
    width: 90%;
    font-size: 11px;
  }
}

.imgBox {
  width: 100%;
  display: flex;
  justify-content: center;
  color: transparent;
  margin: 15px auto;
  align-self: center;
}

.smallImg {
  width: 28%;
  aspect-ratio:1/1; 
  margin: 0 1px;
}

.viewButton {
  width: 30%;
  @media screen and (max-width: 480px) {
    width: 55%;
  }
}

.footer {
  width: 100%;
  aspect-ratio: 15/1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 0 0 0;
}

.footer p {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}